@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 127 173 210;
    --color-secondary: 225 224 7;
    --color-secondaryTest: 225 224 7;

    --color-tertiary: 0 255 1;
    --text-color: 0 0 0;
    --rev-text-color: 255 255 255;

    /* ... */
  }

  :root[class~="dark"] {
    --color-primary: 22 114 153;
    --color-secondary: 42 237 102;

    --nav-text-color: 255 255 255;
    --nav-rev-text-color: 0 0 0;
  }
}

/* text shadow */
.text-shadow {
  text-shadow: #fc0 1px 0 10px;
}
